@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #373F51;
    line-height: 1.5;
    background-color: #f2f2f2;
}

.sidecontent {
    padding-left: 0;
    padding-right: 0;
    display: none;
}

.remove {
    display: none;
}

.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5rem;
    background-color: #008DD5;
    color: #fff;
    z-index: 100;
    position: fixed;
}

.sidebar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.side-contact,
.side-contact:active,
.side-contact:visited {
    color: #fff;
    border: 1px solid #fff;
    padding: 1rem 2rem;
    text-decoration: none;
}

.side-contact:hover {
    text-decoration: none;
    background-color: #fff;
    color: #373F51;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.3em;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    z-index: 1000;
}

#hamburger-btn:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: .2rem .6rem;
    border-radius: 50%;
}

#navbar .right-side .nav-link {
    padding: 1rem;
    text-decoration: none;
    color: #333;
}

#navbar .left-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
    margin-left: 1rem;
}

#navbar .right-side .nav-link:active,
#navbar .right-side .nav-link:visited,
#navbar .right-side .nav-link:hover {
    border-bottom: 2px solid #333;
}

.typewriter {
    font-family: Courier, monospace;
    display: inline-block;
    width: 30%;
}

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 3s steps(30, end), blink .75s step-end infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    white-space: nowrap;
    font-size: 2.2rem;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #333;
    }
}

.main-content {
    margin-top: 7rem;
}

.shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.inner-body .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    padding: 3rem 5rem;
    background-color: #fff;
}

.underline {
    border-bottom: 2px solid #008DD5;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 1.5rem
}

.specializing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem auto;
    padding: 3rem 5rem;
    background-color: #fff;
}

.specializing .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.specializing h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.projects>.content::-webkit-scrollbar {
    display: none;
}

.projects>.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-top: 2rem;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.projects>.content-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: .5rem 2rem;
}

.projects>.content-buttons>.numbers>.page {
    margin: .5rem 1rem;
    background-color: transparent;
    color: #000;
    cursor: pointer;
}

.projects>.content-buttons>.numbers>a.active,
.projects>.content-buttons>.numbers>.page:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    padding: .2rem;
    border-radius: 50%;
}

.projects>.content>.project-tile>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: .5rem 1rem;
}

.projects>.content>.project-tile>a>img {
    width: 80rem;
    height: 40rem;
}

.projects>.content>.project-tile>a>span {
    position: absolute;
    bottom: 0px;
    background-color: #E43F6F;
    width: 100%;
    text-align: center;
    color: #ffff;
    padding: .5rem;
}

.projects .more {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.projects .more:hover {
    color: #fff;
}


/* PROJECTS */

.btn {
    text-decoration: none;
    padding: 5px 10px;
}

.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-blue {
    background-color: #008DD5;
    color: #fff;
}

.btn-grey {
    background-color: #333;
    color: #fff;
}

.technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem auto;
    padding: 3rem 5rem;
    background-color: #fff;
}

.technologies .tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.technologies .tech h3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.technologies .tech p {
    margin: 5px 10px;
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.technologies .tech p:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.3rem auto;
    padding: 1rem;
    flex-wrap: wrap;
    background-color: #fff;
}

.contact .items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.contact .items a {
    font-size: 4rem;
    padding: 1rem 2rem;
    border-radius: 50%;
}

.contact p {
    font-size: 3rem;
}